$primary: #343434;
$secondary: #3FD78A;

body {
    color: $primary;
}

.navbar-toggler {
    border: none;
}

#navbarNavDropdown {
    background-color: white;
    opacity: 90%;
}

.btn-primary:hover {
    background-color: #707070 !important;
}

#courses img:hover {
    transform: translateY(-20px);
    transition: 0.2s ease-in-out;
}

.btn-secondary:hover {
    background-color: #EA5F5F;
    border-color: #EA5F5F;
}

#worksheets a:hover {
    color: #707070;
}


//Worksheets Carousel---------------------
.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
}

.carousel-inner .carousel-item-start.active, 
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
}


.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

//--------------------------------------


@media(max-width: 992px) {
    #anneHeather {
        margin-top: 100px !important;
    }

    #anneHeather p {
        font-size: 16px !important;
    }

}


@media (max-width: 768px) {

    header .logo-container {
        margin-bottom: 90px;
    }

    header {
        margin-bottom: 500px;
    }

    #anneHeather .text-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #anneHeather .text-container p {
        font-size: 20px !important;
    }

    #offer .text-container {
        background-color: $secondary;
        color: white;
        padding: 20px;
        border-radius: 15px;
        font-weight: bold;
        width: 90% !important;
    }

    #courses h4 {
        font-size: 15px !important;
    }

    footer {
        text-align: center;
    }

    footer .col-md-4 {
        margin-bottom: 30px;
    }

    footer .socials {
        margin-bottom: 30px;
    }

}


@media(max-width: 576px) {

    header {
        margin-bottom: 200px !important;
    }

    header .img-container {
        margin-top: 0px;
    }

    #anneHeather .text-container p {
        font-size: 15px !important;
    }

    #offer .text-container {
        border-radius: 10px;
    }

    #offer .text-container h4 {
        font-size: 16px !important;

    }

    #courses .flex-item {
        margin-left: 20px;
        margin-right: 20px;
    }

    #courses h4 {
        font-size: 20px !important;
    }

    

}